<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login - BW11 DentaLink</title>

</head>

<body>

    <h1>BW11 DentaLink</h1>

    <h2>Login</h2>

    <form method="POST">

        <div>

            <label for="email">
                Email
            </label>

            <br>

            <input
                type="email"
                id="email"
                name="email"
                required
            >

        </div>

        <br>

        <div>

            <label for="password">
                Password
            </label>

            <br>

            <input
                type="password"
                id="password"
                name="password"
                required
            >
    <a href="{{ url_for('forgot_password') }}">
        Forgot Password?
    </a>
</p>
        </div>

        <br>

        <button type="submit">
            Login
        </button>
        <p>


    </form>

    <br>

    <p>
        Don't have an account?
        <a href="{{ url_for('register') }}">
            Register
        </a>
    </p>

    <p>
        <a href="{{ url_for('home') }}">
            Back to Home
        </a>
    </p>

</body>

</html>